# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# Virtual Environment
venv/
env/
ENV/

# Streamlit
.streamlit/
secrets.toml

# IDE / Editor Files
.vscode/
.idea/
*.swp
*.swo

# OS Generated
.DS_Store
Thumbs.db
